@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');

@import "tailwindcss";

#navLinks {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#logoTitle{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: rgb(58, 58, 66);
}

#logo{
  width: 65px;
  height: 65px;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */